arabic-reshaper==2.1.4
black==22.6.0
Django==4.1
fredapi==0.5.0
html5lib==1.1
ipykernel==6.15.1
matplotlib==3.5.2
numpy==1.23.1
openpyxl==3.0.10
pandas==1.4.3
persiantools==3.0.1
pyportfolioopt==1.5.3
pyswarm==0.6
python-bidi==0.4.2
pytse-client @ git+https://github.com/Glyphack/pytse-client.git@79bd10e33ba31c1852673286e5936d1c3e46af68
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
selenium==4.3.0
statsmodels==0.13.2
tse-index==0.0.4
XlsxWriter==3.0.3
yfinance==0.1.74